:root {
    --font-body: Lexend Deca, sans-serif;
    --red: #E65600;
    --black: #1E1E1E;
    --offwhite: #E5F5FF;
    --purple: #C2B4FE;
    --yellow: #F9C904;
    --paleyellow: #f9f6ed;
    --green: #05BB9A;
    --pale-green: #B8E9EB;
    --dark-green: #0C715C;
}

html {
    background-color: var(--paleyellow);
}
* {
    box-sizing: border-box;
    list-style: none;
    color: var(--black);
}
body {
    font-family: var(--font-body);
    font-size: 1.2rem;
    position: relative;
    min-height: 100vh;
    padding-bottom: 6rem;
}
h1 {
    font-family: var(--font-body);
    font-size: 1.5rem;
}
h2 {
    font-family: var(--font-body);
    font-size: 2.5rem;
    padding: 2% 0% 2% 5%;
    margin: 0;
}
.hero-p {
    padding: 0 0 5% 5%;
}
h3 {
    font-family: var(--font-body);
    font-size: 1.5rem;
}
a{
    text-decoration: none;
}
.type {
    margin-right: 10%;
}
.bold {
    font-size: 24pt;
    font-weight: 700;
}
.semibold {
    font-size: 20pt;
    font-weight: 600;
}
.form {
    font-size: 18pt;
    font-weight: 600;
}
.copy {
    font-size: 16pt;
}
img {
    max-width: 100%;
    display: block;
    border-radius: 10px;
}
.block-img {
    margin: 10px;
}
.cozy-img {
    margin: 0;
    border-radius: 0;
}
.cozy-img--styleguide {
    max-width: 75%;
}
.button {
    background-color: var(--paleyellow);
    border: 4px solid #e4e0d7;
    color: var(--black);
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    margin: 5% 5%;
}
.button:hover {
    background-color: #e4e0d7;
    color: var(--dark-green);
}
.navigation {
    border: none;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
}
.container-more {
    margin-top: 4rem;
}


/** ebay **/
.center {
    display: flex;
    margin: 0 20% 5%;
    flex-direction: column;
}
.center-block {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.center-img {
    display: block;
    border-radius: 10px;
}
.container-ebay {
    padding-left: 5%;
}
.container-img {
    margin-bottom: 5%;
}
/** footer **/
.footer {
    margin: 0; 
    padding: 1.5%;
    background-color: var(--green);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer a:hover{
    color: var(--paleyellow);
}

/** cozy **/
.block-cozy {
    display: flex;
    flex-direction: row;
}
.cozy-img {
    display: block;
}
.block-cozy--spread {
    display: flex;
    margin-right: 40px;
}
.container-cozy {
    display: flex;
    margin: 0;
    padding: 2% 2% 0% 5%; 
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
}
.photos {
    width: 500px;
    border-radius: 0;
    padding: 3%;
}


/******** desktop *******/
/** header **/ 
@media only screen and (min-width: 820px) {
    header {
        display: flex;
        margin: 2% 5% 2% 5%;
        padding: 0%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .page-title {
        margin-right: auto;
    }
    ul {
        display: flex;
    }
    nav li {
        padding: 1rem;
    }
    a:hover {
        color: var(--dark-green);
    }
    
    /** hero **/
    .hero {
        display: flex;
        margin: 0% 5% 5% 5%;
    }
    .block {
        padding: 0% 5% 3% 0%;
        max-width: 50%;
    }
    
    /** body **/
    .heading {
        margin-left: 9%;
    }
    .container {
        display: flex;
        margin: 0;
        padding: 5% 2% 5% 5%; 
    }
    .block-space {
        margin: 0;
        padding: 0% 3% 5% 3%;
        max-width: 50%;    
    }
    .container-space {
        display: flex;
        margin: -5% 5% 5% 5%;
        padding: 0 1.5% 1.5% 1.5%; 
    }
    p {
        line-height: 125%;
    }
    .links {
        margin-left: 9%;
    }
    .space {
        padding: 8rem;
    }
    .citations {
        margin: 9%;
    }
    .style-guide {
        border: solid var(--black);
    }
    iframe video {
        display: block;
        margin: 0 auto 5%;
    }
    .frame {
        width: 50%;
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .container-other {
        width: 50%;
    }
    .center-block iframe {
        margin-top: 1em;
    }
}
/****** iframe size *******/
@media only screen and (min-width: 1260px) {
    .frame-med {
        width: 200%;
    }
}

/******** mobile *******/
@media only screen and (max-width: 819px) {
       
    /** home **/
    header {
        display: flex;
        margin: 6% 5% 6% 5%;
        padding: 1%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .page-title {
        margin-right: auto;
    }
    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    nav li {
        padding: 1rem;
    }
    /** hero **/
    .hero {
        margin: 5% 5% 20% 5%;
        display: flex;
        flex-direction: column;
    }
    .block {
        margin-right: auto;
    }
    .con1 {
        order:2;
    }
    .con2 {
        order:1;
    }
    .logo {
        display: none;
    }
    .hero h2 {
        padding: 0;
        margin-top: 6%;
    }
    .hero-p {
        padding: 2% 0 6% 0;
    }
    a.button {
        margin: 0;
    }

     /** all **/
    h2 {
        font-size: 3rem;
        text-align: center;
        padding: 0;
    }
    h3 {
        font-size: 2rem;
    }
    .about-h2 {
        display: none;
    }
    .container {
        padding: 0% 5%;
        display: flex;
        flex-direction: column;
    }
    .center {
        margin: 0;
        padding: 0 5%;
    }
    .heading {
        padding: 5%;
    }
    .container-space {
        padding: 5%;
    }
    .links {
        padding: 5%;
    }
    .footer {
        padding: 2% 4%;
    }
    img {
        margin-top: 10%;
    }
    .cozy-img--styleguide {
        max-width: 100%;
    }
    .center-block iframe {
        margin-top: 2em;
    }
    video {
        width: 100%;
    }
    .container-more {
        margin-top: 20%;
    }
    .bottom {
        margin-bottom: 5rem;
    }
    /** deliverables **/
    .con3 {
        order:2;
    }
    .con4 {
        order:1;
    }
    
}